:root{
    --primary: #ffa16c;
}
.primary-background{
    background-color: var(--primary);
}
.primary-text{
    color: var(--primary);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*::-webkit-scrollbar{
    width: 0px;
}
.box{
  
}
.box:nth-child(1){
    height: 70px;
}
.box:nth-child(2){
    background-color: white;
    padding-left: 10px;
    height: 70px;
}
.box:nth-child(3){
    height: 70px;
}
.profile-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}
.user-pic{
    width: 50px;
    aspect-ratio: 1;
    background-image: url(https://images.ladbible.com/resize?type=webp&quality=70&width=3840&fit=contain&gravity=auto&url=https://images.ladbiblegroup.com/v3/assets/bltb5d92757ac1ee045/bltc86e7943bcc0e006/6569cbef0b642304079a348b/AI-creates-what-the-average-person.png%3Fcrop%3D590%2C590%2Cx0%2Cy0);
    background-size: cover;
    border-radius: 100%;
}
.user-details{
    padding-left: 5px;
}
.user-name{
    font-weight: bold;
}
.content{
    display: block;
    height: calc(100vh - 70px);
}
.content:nth-child(2){
    background-color: red;
}
#menuContainer{
    background-color: black;
}
#cartContainer{
    background-color: green;
    z-index: 99;
}
@media screen and (max-width: 727px) {
    .showMenu{
        transform: translateX(0);
        z-index: 99;
        background-color: blue;
        opacity: 1;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }
    .hideMenu{
        transform: translateX(-100%);
        z-index: 0;
        opacity: 0;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }
    .showCart{
        transform: translateX(0);
        opacity: 1;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }
    .hideCart{
        transform: translateX(100%);
        opacity: 0;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }
    .box:nth-child(3){
        position: absolute;
        display: none;
    }
    .content{
        position: absolute;
        height: calc(100vh - 140px);
    }
    .content:nth-child(2){
        z-index: 1;
    }
}
@media screen and (min-width: 727px) {
    .btn-menu{
        display: none;
    }
}
